.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Fondo {
  background-image: url(./img/background.jpg) !important;
  background-size: cover !important;
  background-attachment: fixed;
  min-height: 100vh;
}

/******************************************************************
Especificacion de Slides o sectores de contenido:
******************************************************************/
.slide {
  text-align: center !important;
  align-content: center;
  padding-top: 5% !important;

}


/******************************************************************
Especificacion de Fuentes Responsivas:
-Fuentes iniciales.
******************************************************************/
html,
body {
  font-size: 12px !important;
}

h1 {
  font-size: 1.602em !important;
}

h2 {
  font-size: 1.424em !important;
}

h3 {
  font-size: 1.266em !important;
}

h4 {
  font-size: 1.125em !important;
}

h5 {
  font-size: 0.889em !important;
}

h6 {
  font-size: 0.79em !important;
}

.display-1 {
  font-size: 3.906em !important;
}

.display-2 {
  font-size: 3.125em !important;
}

.display-3 {
  font-size: 2.5em !important;
}

.display-4 {
  font-size: 2em !important;
}


/******************************************************************
Especificaciones para dispositivos de medio tamaño (tabletas, 48em y superior):
******************************************************************/

@media (min-width: 48em) {
  h1 {
    font-size: 2.5em !important;
  }

  h2 {
    font-size: 1.953em !important;
  }

  h3 {
    font-size: 1.563em !important;
  }

  h4 {
    font-size: 1.25em !important;
  }

  .display-1 {
    font-size: 6em !important;
  }

  .display-2 {
    font-size: 5.5em !important;
  }

  .display-3 {
    font-size: 4.5em !important;
  }

  .display-4 {
    font-size: 3.5em !important;
  }
}

/******************************************************************
Especificaciones para dispositivos de gran tamaño (Monitores de escritorio, 62em y superior):
******************************************************************/

@media (min-width: 62em) {

  html,
  body {
    font-size: 16px !important;
  }
}

/******************************************************************
Especificaciones para dispositivos de tamaño extra grande (Monitores de television ó grandes monitores, 75em y superior):
******************************************************************/

@media (min-width: 75em) {

  html,
  body {
    font-size: 20px !important;
  }
}

/*
* ==========================================================
*     SIDE NAVBAR
* ==========================================================
*/
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  text-align: left;
  background: #393836;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
  overflow-y: auto;
}

.side-navbar .scrolled-wrapper {
  width: 100%;
  height: 100%;
}

.side-navbar.hide {
  left: -70px;
}

.side-navbar a.brand-small {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

.side-navbar a.brand-small:hover,
.side-navbar a.brand-small:focus {
  background: none;
}

.side-navbar a.brand-small strong {
  font-size: 1.5rem;
}

.side-navbar li {
  position: relative;
}

.side-navbar li a {
  /* position: relative;  */
  font-size: .9rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding: 12px !important;
}


.side-navbar li:focus,
.side-navbar li:hover {
  background: #ff3f3f;
  color: #fff;
  text-decoration: none;
}

.side-navbar li a[data-toggle="collapse"]::before {
  content: '\f104';
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: 20px;
}

.arrow {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: 20px;
}

.side-navbar li a[aria-expanded="true"]::before {
  content: '\f107';
  color: #fff;
}

.side-navbar li.active>a {
  background: #ff3f3f;
}

.side-navbar li li.active>a {
  background: #ff2626 !important;
}

.side-navbar li ul {
  background: #292929;
  position: relative;
  min-width: 100%;
  left: 0;
  padding-left: 0;
}

.side-navbar li ul a {
  padding-left: 20px;
  font-size: .85rem;
}

.side-navbar li ul.collapse a {
  border-left: 2px solid #ff3f3f;
}

.side-navbar li ul.collapse a:hover {
  background: #121212;
}

.side-navbar .sidenav-header {
  background: #292929;
  padding: 14px;
  margin-bottom: 10px;
}

.side-navbar .sidenav-header img {
  width: 50px;
  height: 50px;
}

.side-navbar .sidenav-header span {
  font-size: 0.8em;
  color: #666;
}

.side-navbar .sidenav-header h2,
h5 {
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.side-navbar .sidenav-heading {
  font-weight: 700;
  color: #adb5bd;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-navbar i[class*='icon-'] {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.side-navbar span {
  display: inline-block;
}

.side-navbar i {
  font-size: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}

.side-navbar .badge {
  display: inline-block;
  font-size: 0.6em;
}

.side-navbar .brand-small {
  display: none;
}

.side-navbar.shrink {
  width: 70px;
  text-align: center;
}

.side-navbar.shrink .brand-small {
  display: block;
}

.side-navbar.shrink .sidenav-header-inner {
  display: none;
}

.side-navbar.shrink .sidenav-heading {
  margin-left: 0;
  font-size: .8rem;
}

.side-navbar.shrink ul li a {
  font-size: .7rem;
  padding-left: 5px;
  padding-right: 5px;
}

.side-navbar.shrink ul li a[data-toggle="collapse"]::before {
  content: '\f107';
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.side-navbar.shrink ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: '\f106';
}

.side-navbar.shrink ul li ul a {
  padding-left: 10px;
  font-size: .7rem;
}

.side-navbar.shrink i {
  display: block;
  margin-right: 0;
  font-size: 1rem;
}

.side-navbar.shrink .arrow {
  float: none;
  -webkit-transform: none !important;
  transform: none !important;
}

.side-navbar.shrink .badge {
  display: none;
}

/* SIDE NAVBAR MEDIAQUERIES ------------------------------ */
@media (max-width: 1199px) {
  .page {
    width: 100%;
  }

  .page.active {
    width: 100%;
  }

  .page.active-sm {
    width: calc(100% - 70px);
  }

  .side-navbar {
    left: -70px;
    width: 70px;
    text-align: center;
  }

  .side-navbar.show-sm {
    left: 0 !important;
  }

  .side-navbar .brand-small {
    display: block;
  }

  .side-navbar .sidenav-header-inner {
    display: none;
  }

  .side-navbar .sidenav-heading {
    margin-left: 0;
    font-size: .8rem;
  }

  .side-navbar ul li a {
    font-size: .7rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .side-navbar ul li a[data-toggle="collapse"]::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }

  .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f106';
  }

  .side-navbar ul li ul a {
    padding-left: 10px;
    font-size: .7rem;
  }

  .side-navbar i {
    display: block;
    margin-right: 0;
    font-size: 1rem;
  }

  .side-navbar .arrow {
    float: none;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .side-navbar .badge {
    display: none;
  }
}

/* Malihu Custom Scroll */
.mCSB_scrollTools {
  width: 4px;
}

.mCSB_inside>.mCSB_container {
  margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ff3f3f;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background-color: #ff3f3f;
}

.nav-link {
  cursor: pointer
}

.page {
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: calc(100% - 200px);
  background-color: #F4F7FA;
  min-height: 100vh;
  padding-bottom: 50px;
}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 0;
}

/*
* 9. CARD
*/
/*.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
}*/